* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url("zap.png");
    background-repeat: initial;
    display: flex;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
}

.menu {
    padding: 10px;
    background-color: #333333;
    text-align: center;
}

.menu img {
    width:50px;
    height: auto;
    display: block;
    margin: 0 auto; /* Centralizar a imagem */
}

.menu a, .menu button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #555555;
    border: 1px solid #444444;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu a:hover, .menu button:hover {
    background-color: #777777;
    font-size: xx-small;
}

.chat {
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat_messages::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(55, 94, 55);
    border-radius: 10px;
}

.chat_messages {
    padding: 20px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}

.message {
    color: #f2f2f2;
    border-radius: 0px 10px 10px 10px;
    align-self: flex-start;
    background-color: #333;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
    word-wrap: break-word;
}

.chat_formulario {
    background-color: #191919;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}


.user {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.chat_input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
    cursor: pointer;
}

.chat_button {
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 1.8rem;
}
